""" Plugins ---------------------
set NERDTree

""" Common settings -------------
set showmode
set incsearch
set scrolloff=8
set hlsearch

" remove search highlights
nnoremap <Esc> :nohlsearch<cr>

" case-insensitive search
set ignorecase

" enable case-sensitive search when uppercased letter is present
set smartcase


""" use system clipboard
set clipboard+=unnamed
set clipboard+=unnamedplus
set clipboard+=ideaput

""" Idea specific settings ------
set ideajoin
set idearefactormode=keep

""" Leader key ------------------
let mapleader = " "

""" Mappings --------------------

vnoremap < <gv
vnoremap > >gv

" add support for jump between angle brackets when % pressed
set matchpairs+=<:>

" Code actions
nnoremap <leader>cg :action Generate<CR>
nnoremap <leader>ca :action Refactorings.QuickListPopupAction<CR>

nnoremap <leader>ed :action ShowErrorDescription<CR>
nnoremap <leader>en :action GotoNextError<CR>
nnoremap <leader>ep :action GotoPreviousError<CR>

nnoremap <leader><leader> :action ReformatCode<CR>
nnoremap <leader>oi :action OptimizeImports<CR>


nnoremap <c-z>:action ToggleDistractionFreeMode<CR>

nnoremap <c-\> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nnoremap <c-q> :action HideActiveWindow<CR>


" Searching & Code Navigation
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fu :action ShowUsages<CR>

nnoremap K :action ShowHoverInfo<CR>
nnoremap <leader>h :action QuickJavaDoc<CR>

" Window/Tab navigation
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <Tab> :action PreviousTab<CR>
nnoremap <s-Tab> :action NextTab<CR>

nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>
nnoremap <leader>su :action Unsplit<CR>
nnoremap <leader>sa :action UnsplitAll<CR>

" system clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

" open config
noremap <leader>cc :edit ~/.ideavimrc<cr>

" source config
noremap <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>

" NerdTree commands
nnoremap - :NERDTree<CR>
" using 'm' we can do operations on files in the tree pane
