""" Plugins ---------------------
set NERDTree

""" Common settings -------------
set showmode
set incsearch
set scrolloff=8

""" Idea specific settings ------
set ideajoin
set idearefactormode=keep

""" Leader key ------------------
let mapleader = " "

""" Mappings --------------------

vnoremap < <gv
vnoremap > >gv

" Intellij actions
nnoremap <leader>i :action Generate<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>

nnoremap <leader>e :action ShowErrorDescription<CR>
nnoremap <leader>en :action GotoNextError<CR>
nnoremap <leader>ep :action GotoPreviousError<CR>

nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

" Code Navigation
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotToDeclaration<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

nnoremap <leader>ff :action FindInPath<CR>
nnoremap <leader>fu :action FindUsages<CR>

" Window/Tab navigation
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <Tab> :action PreviousTab<CR>
nnoremap <s-Tab> :action NextTab<CR>

nnoremap <leader>cw :action CloseContent<CR>
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>

" system clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

" NERDTree
nnoremap <leader>n :NERDTree<CR>